name: CI

on:
  pull_request:
  push:
    branches: [main]
  merge_group:

jobs:
  test:
    name: Test
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.13.1
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm build

      - name: Run tests
        run: pnpm test

  success:
    name: Success
    needs: [test]
    runs-on: ubuntu-latest
    if: always()
    permissions: {}
    steps:
      - run: jq --exit-status 'all(.result == "success")' <<< '${{ toJson(needs) }}'
      - run: exit 0

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: [success]
    if: github.event_name == 'push'
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        id: generate-token
        with:
          app-id: ${{ secrets.GW2T_RELEASE_APP_ID }}
          private-key: ${{ secrets.GW2T_RELEASE_APP_PRIVATE_KEY }}

      - name: Checkout Repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          token: ${{ steps.generate-token.outputs.token }}

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.13.1
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Setup git user
        run: |
          git config --global user.email "160784075+gw2treasures-release-bot[bot]@users.noreply.github.com"
          git config --global user.name "gw2treasures-release-bot[bot]"

      - name: Create Release Pull Request
        uses: changesets/action@v1
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
        with:
          title: New Release
          commit: Create new release
          publish: pnpm run release
          setupGitUser: false
